<section class="container">
    <section class="section-greetings">
        <p class="sub-heading">Welcome {{user?.firstName}} {{user?.lastName}}</p>
        <p>Here you can see your last activities</p>
        <p>Manage your profile</p>
    </section>
    <section class="section my-posts">
        <div class="section-header">
            <p class="sub-heading">My Posts</p>
        </div>
        <div class="section-content">
            @for (blog of myBlogs; track $index) {
            <app-blog-article [blog]="blog" />
            }
        </div>
    </section>
    <section class="section liked-blogs">
        <div class="section-header">
            <p class="sub-heading">Liked Posts</p>
        </div>
        <div class="section-content">
            @for (blog of myBlogs; track $index) {
            <app-blog-article [blog]="blog" />
            }
        </div>
    </section>
    <section class="section my-comments">
        <div class="section-header">
            <p class="sub-heading">Blogs I have commented</p>
        </div>
        <div class="section-content">
            @for (comment of myComments; track $index) {
            <app-blog-article [blog]="comment.blogId" />
            }
        </div>
    </section>
</section>