.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color: rgb(215, 207, 192);


    .section-greetings {
        background-color: white;

    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2em;
        background-color: skyblue;

        .section-header {
            align-self: flex-start;

            p {
                font-size: 1.1rem;
                font-weight: bold;
            }
        }

        .section-content {
            display: flex;
            justify-content: space-between;
            gap: 1.2em;
            flex-wrap: wrap;
            max-width: 1400px;
            margin: 0 auto;
        }
    }
}