.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    min-height: 100vh;


    .form-container {
        background-color: rgb(0, 0, 0, 0.1);
        padding: 2.5rem 2rem;
        border-radius: 10px;
        max-width: 400px;
        width: 100%;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);

        h2 {
            text-align: center;
            font-size: 1.8rem;
            color: #222;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                font-size: 0.95rem;
                margin-top: 1.2rem;
                margin-bottom: 0.3rem;
                font-weight: 600;
            }

            label::after {
                content: '*';
                color: darkred;
                font-size: 1.2em;
                margin-left: 0.15em;
            }

            input {
                padding: 0.6rem;
                border: 1px solid #ccc;
                border-radius: 6px;
                font-size: 1rem;
                transition: border-color 0.3s;
            }

            input:focus {
                border-color: #2ac1aa;
                outline: none;
            }

            input.ng-valid {
                border-left: 5px solid #42A948;
            }

            input.ng-invalid.ng-touched {
                border: 1px solid #A94442;
                border-left: 5px solid #A94442;
            }

            p.error-msg {
                color: #A94442;
                font-weight: bold;
                font-size: 1rem;
                margin-left: 0.3em;
            }

            button {
                background-color: #2ac1aa;
                color: white;
                border: none;
                padding: 0.75rem;
                margin-top: 1.2rem;
                border-radius: 6px;
                font-size: 1rem;
                font-weight: bold;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }

            button:hover {
                background-color: #239f8f;
            }

            button:disabled {
                background-color: lightgray;
                cursor: default;
            }

            .form-footer {
                text-align: center;
                margin-top: 1.2rem;
                font-size: 0.9rem;

                a {
                    color: #2ac1aa;
                    text-decoration: none;
                    font-weight: 600;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}