header {
    margin-bottom: 3em;
}

.header-container {
    display: flex;
    justify-content: space-around;
}

.main-heading {
    font-family: 'Medula One', cursive;
    margin-bottom: 0;
    letter-spacing: 0.1em;
    font-size: 3rem;
    color: #143774;
}


.navigation-list {
    display: flex;
    gap: 1em;
    list-style: none;
}

.navigation-list li {
    margin: 1.2em 0;

}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 0.1em 0;
    font-size: 1rem;
    transition: all 0.5s;
}

.navigation-link:hover,
.navigation-link:focus {
    color: #1792d2;
}

.navigation-link {
    color: #707070;
}

.active-page {
    border-bottom: 1px solid #707070;
}

.active-page:hover {
    color: #707070;
}

a:visited {
    color: #707070;
}

a:active {
    color: #1792d2;
}