.header-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main-heading {
    font-family: 'Medula One', cursive;
    letter-spacing: 0.1em;
    font-size: 3rem;
    padding-top: 0.37em;
}

.navigation-list {
    display: flex;
    gap: 1em;
    list-style: none;
    position: relative;
}

.navigation-list li {
    margin: 1.2em 0;

}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 0.1em 0;
    font-size: 1rem;
    transition: all 0.5s;
    cursor: pointer;
}

.navigation-link {
    color: #005B5B;
}

.navigation-link:hover,
.navigation-link:focus {
    color: #1792d2;
}

.profile-content {
    display: none;
}

.profile-content.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid skyblue;
    border-radius: 0.8em;
    color: #707070;
    position: absolute;
    right: -25%;
    top: 75%;
    z-index: 1;

    li {
        margin: 0.5em 0;
        padding-inline: 0.3em;
    }
}

li.profile-wrapper a {
    color: #143774;
}