<header>
    <div class="container flex-container">
        <div class="blog-name">
            <a routerLink="/home">
                <h1 class="main-heading">Blog App</h1>
            </a>
        </div>
        <nav>
            <ul class="navigation-list">
                <li><a routerLink="/home" class="navigation-link active-page">Home</a></li>
                <li><a routerLink="/about" class="navigation-link">About</a></li>
                <li><a routerLink="/blogs" class="navigation-link">Blogs</a></li>
                <li><a routerLink="/login" class="navigation-link">Login</a></li>
                <li><a routerLink="/register" class="navigation-link">Register</a></li>
                <li><a routerLink="/add-blog" class="navigation-link">Add Blog</a></li>
            </ul>
        </nav>
    </div>
</header>