<header>
    <div class="header-container flex-container">
        <div class="blog-name">
            <a routerLink="/home">
                <h1 class="main-heading">Blog App</h1>
            </a>
        </div>
        <nav>
            <ul class="navigation-list">
                <li><a routerLink="/home" class="navigation-link active-page">Home</a></li>
                <li><a routerLink="/about" class="navigation-link">About</a></li>
                <li><a routerLink="/blogs" class="navigation-link">Blogs</a></li>
                @if (isLoggedIn) {
                    <li><a routerLink="/add-blog" class="navigation-link">Add Blog</a></li>
                    <li (click)="toggleProfileModal()" class="profile-wrapper">
                        <a><i class="fa-solid fa-user"></i></a>
                        <ul class="profile-content" [ngClass]="{'active': isProfileVisible}">
                            <li>Welcome back {{firstName}}</li>
                            <li><a routerLink="/my-profile" class="navigation-link">My Profile</a></li>
                            <li><a (click)="logout()" routerLink="/" class="navigation-link">Logout</a></li>
                        </ul>
                </li>
                } @else {
                    <li><a routerLink="/login" class="navigation-link">Login</a></li>
                    <li><a routerLink="/register" class="navigation-link">Register</a></li>
                }
            </ul>
        </nav>
    </div>
</header>