<div class="container home-container">
    <section class="banner">
        <img src="background-img.jpg" alt="banner-img">
        <h2>Your next adventure awaits.</h2>
        <p>Your travel Blog app is here. Find an inspiration for your next trip</p>
    </section>
    <main>
        <div class="content">
            <p>Recently added post</p>
        </div>
        <div class="articles">
            <article class="recent-articles">
                <div class="recent-primary">
                    <h2>Topic: Converting Timestamps into User-Friendly Time Ago Format</h2>
                    <p>Time, a constant presence in the digital realm, is often expressed in user-friendly "time ago"
                        formats like "2 hours ago" or "3 days ago." This article delves into the creation of a PHP-based
                        "time ago" function, simplifying time-related interactions and enhancing the user experience
                        across various time zones and date formats...</p>
                    <a href="topic.html" class="continue-reading">Continue Reading</a>
                </div>
                <div class="recent-info">
                    <a href="topic.html"><img src="me.png" alt="picture"></a>
                    <p> Oct 11, 2023</p>
                </div>
            </article>

            <article class="recent-articles">
                <div class="recent-primary">
                    <h2>Topic: Converting Timestamps into User-Friendly Time Ago Format</h2>
                    <p>Time, a constant presence in the digital realm, is often expressed in user-friendly "time ago"
                        formats like "2 hours ago" or "3 days ago." This article delves into the creation of a PHP-based
                        "time ago" function, simplifying time-related interactions and enhancing the user experience
                        across various time zones and date formats...</p>
                    <a href="topic.html" class="continue-reading">Continue Reading</a>
                </div>
                <div class="recent-info">
                    <a href="topic.html"><img src="me.png" alt="picture"></a>
                    <p> Oct 11, 2023</p>
                </div>
            </article>

            <article class="recent-articles">
                <div class="recent-primary">
                    <h2>Topic: Converting Timestamps into User-Friendly Time Ago Format</h2>
                    <p>Time, a constant presence in the digital realm, is often expressed in user-friendly "time ago"
                        formats like "2 hours ago" or "3 days ago." This article delves into the creation of a PHP-based
                        "time ago" function, simplifying time-related interactions and enhancing the user experience
                        across various time zones and date formats...</p>
                    <a href="topic.html" class="continue-reading">Continue Reading</a>
                </div>
                <div class="recent-info">
                    <a href="topic.html"><img src="me.png" alt="picture"></a>
                    <p> Oct 11, 2023</p>
                </div>
            </article>

            <article class="recent-articles">
                <div class="recent-primary">
                    <h2>Topic: Converting Timestamps into User-Friendly Time Ago Format</h2>
                    <p>Time, a constant presence in the digital realm, is often expressed in user-friendly "time ago"
                        formats like "2 hours ago" or "3 days ago." This article delves into the creation of a PHP-based
                        "time ago" function, simplifying time-related interactions and enhancing the user experience
                        across various time zones and date formats...</p>
                    <a href="topic.html" class="continue-reading">Continue Reading</a>
                </div>
                <div class="recent-info">
                    <a href="topic.html"><img src="me.png" alt="picture"></a>
                    <p> Oct 11, 2023</p>
                </div>
            </article>

            <article class="recent-articles">
                <div class="recent-primary">
                    <h2>Topic: Converting Timestamps into User-Friendly Time Ago Format</h2>
                    <p>Time, a constant presence in the digital realm, is often expressed in user-friendly "time ago"
                        formats like "2 hours ago" or "3 days ago." This article delves into the creation of a PHP-based
                        "time ago" function, simplifying time-related interactions and enhancing the user experience
                        across various time zones and date formats...</p>
                    <a href="topic.html" class="continue-reading">Continue Reading</a>
                </div>
                <div class="recent-info">
                    <a href="topic.html"><img src="me.png" alt="picture"></a>
                    <p> Oct 11, 2023</p>
                </div>
            </article>

            <article class="recent-articles">
                <div class="recent-primary">
                    <h2>Topic: Converting Timestamps into User-Friendly Time Ago Format</h2>
                    <p>Time, a constant presence in the digital realm, is often expressed in user-friendly "time ago"
                        formats like "2 hours ago" or "3 days ago." This article delves into the creation of a PHP-based
                        "time ago" function, simplifying time-related interactions and enhancing the user experience
                        across various time zones and date formats...</p>
                    <a href="topic.html" class="continue-reading">Continue Reading</a>
                </div>
                <div class="recent-info">
                    <a href="topic.html"><img src="me.png" alt="picture"></a>
                    <p> Oct 11, 2023</p>
                </div>
            </article>
        </div>
    </main>
</div>