.home-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    /* background-color: white; */
}

.banner {
    position: relative;

    img {
        width: 100%;
        height: 600px;
    }

    h2 {
        color: white;
        position: absolute;
        left: 10%;
        top: 20%;
        font-size: 3.2em;
        font-style: italic;
        font-family: "Fira Sans", sans-serif;
        text-transform: capitalize;
        letter-spacing: 0.3em;
        max-width: 16ch;
    }

    p {
        padding-top: 1.2em;
        color: white;
        position: absolute;
        left: 10%;
        top: 50%;
        font-size: 1.2em;
        font-family: "Fira Sans", sans-serif;
        max-width: 24ch;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
    margin: 0 auto;

    p.sub-heading {
        padding-top: 1.5em;
        color: black;
        font-size: 1.2em;
        font-weight: bold;
        text-transform: capitalize;
    }

    .article-items {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin: 0 auto;
    }

    .articles {
        display: flex;
        justify-content: space-between;
        gap: 1.2em;
        flex-wrap: wrap;
        width: 1400px;


        .recent-articles {
            flex: 1 1 30%;
            display: flex;
            flex-direction: row;
            gap: 1em;
            /* background-color: #f5f5f5; */
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            p {
                color: black;
            }

            .recent-primary {
                flex-basis: 70%;
                padding: 0.5em;

                h2 {
                    padding-bottom: 0.5em;
                }

                .likes-and-views {
                    display: flex;
                    justify-content: flex-end;
                    gap: 0.5em;

                    .fa-regular {
                        color: #1792d2;
                    }
                }
            }

            .recent-info {
                flex-basis: 30%;

                img {
                    border-top-right-radius: 5px;
                }

                p {
                    padding-block: 0.5em;
                }
            }
        }
    }

    .popular-posts {
        /* background-color: #f5f5f5; */

        .inner {

            width: 1400px;
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin: 0 auto;


            .popular-trip {
                padding-bottom: 1.5em;
                display: flex;
                justify-content: space-between;

                .popular-card {
                    max-width: 450px;
                    background-color: #fff;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    padding: 20px;

                    img {
                        border-radius: 5px;
                        margin-bottom: 10px;
                    }

                    .card-content h2 {
                        font-size: 24px;
                    }

                    .card-content p {
                        font-size: 16px;
                        color: #333;
                    }
                }
            }
        }
    }
}