<section class="comments-section">
    <h3>Comments ({{comments.length ? comments.length : 0}})</h3>

    <form class="comment-form">
        <textarea placeholder="Write your comment..." required></textarea>
        <button type="submit">Post Comment</button>
    </form>

    @if (comments.length) {
    <ul class="comment-list">
        @for (comment of comments; track $index) {
        <li class="comment">
            <div class="comment-header">
                <strong>{{comment.author.firstName}} {{comment.author.lastName}}</strong>
                <span>on {{comment.publishedAt | date: 'medium'}}</span>
            </div>
            <p>{{comment.content}}</p>
        </li>
        }
    </ul>
    } @else {
    <p class="no-comments">No comments added yet</p>
    }

</section>