<div class="blogs-container">
    <section class="blog-header">
        <h1>Let us take you on a storytelling journey through islands, forests, and beyond</h1>
    </section>
    <form class="search-bar" (ngSubmit)="onSearch(formRef)" #formRef="ngForm">
        <input 
            type="search" 
            name="searchText" 
            placeholder="Search blog by title"
            [(ngModel)]="searchedText"
            (ngModelChange)="onSearchTextChange($event)"
        >
        <button type="submit">Search</button>
    </form>
    @if (hasError) {
    <p class="error-msg">Something went wrong while loading blogs.</p>
    <button (click)="RefetchAllBlogs()" class="re-fetch">Try again</button>
    }
    @if (isLoading) {
    <app-loader />
    } @else {
    <section class="blog-card-wrapper">
        @for (blog of blogs; track $index) {
        <div class="blog-card">
            <img src={{blog.banner.url}} alt="Blog Image">
            <div class="card-content">
                <h2>{{blog.title}}</h2>
                <p>{{blog.content.slice(0, 140)}}...</p>
                <a [routerLink]="['/blogs', 'details', blog.slug]" class="continue-reading">Continue Reading</a>
                <div class="likes-and-views">
                    <p><i class="fa-regular fa-thumbs-up"></i> {{blog.likesCount}}</p>
                    <p><i class="fa-regular fa-eye"></i> {{blog.viewsCount}}</p>
                </div>
            </div>

        </div>
        }
    </section>
    <app-pagination
        [currentPage]="currentPage"
        [totalBlogs]="totalBlogs"
        [blogsPerPage]="limit"
        (pageChange)="onPageChange($event)">
    </app-pagination>
    }
</div>