@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Medula+One&family=Quicksand&family=Roboto:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    background-color: #f5f5f5;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    /* Adjust the font size as needed */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Your New Font', sans-serif;
    font-size: 24px;
    /* Adjust the font size as needed */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0.3em 1em;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

img {
    max-width: 100%;
    display: block;
    box-shadow: 4px 4px 15px -3px rgba(0,0,0,0.1); /*Box shadow property decovered via youtube*/
    border-radius: 5px;
}

/*----desktop layout----*/
@media screen and (min-width:720px) {
    .flex-container {
        display: flex;
        justify-content: space-between;
    }

    .navigation-list {
        display: flex;
    }

    .navigation-link {
        margin-left: 1em;
        font-size: 1.15rem;
    }

    main {
        width: 70%;
    }

    aside {
        width: 25%;
    }

    .recent-articles {
        flex-direction: row;
        justify-content: space-between;
    }

    .recent-featured {
        flex-direction: column;
    }

    .recent-primary {
        width: 70%;
    }

    .recent-info {
        width: 20%;
    }

    

    .recent-articles h2 {
        margin-top: 0;
        padding-top: 0;
    }

    .code-container {
        font-size: 14px;
    }
    .interests-container {
        flex-direction: row; 
    }
    .interest-card {
        max-width: 100%; 
        margin-bottom: 20px; 
    }
}