<section class="comments-section">
    <h3>Comments ({{comments.length ? comments.length : 0}})</h3>

    <form class="comment-form" (ngSubmit)="onSubmit()" [formGroup]="commentForm">
        <textarea 
            placeholder="Write your comment..."
            required
            formControlName="content">
        </textarea>
        @if(commentForm.get('content')?.errors?.['minlength'] && commentForm.get('content')?.touched) {
            <p class="error-msg">The comment must be at least 10 characters!</p>
        }
        @if(isCommentFailed) {
            <p class="error-msg">Posting a comment failed, please try again.</p>
        }
        <button type="submit" [disabled]="isSubmitting">Post Comment</button>
    </form>

    @if (errorWhileFetchingComments) {
        <p class="error-msg">Unexpected error while loading the comments, please try again later.</p>
    } @else {
        @if (comments.length) {
            <ul class="comment-list">
                @for (comment of comments; track $index) {
                    <li class="comment">
                        <div class="comment-header">
                            <strong>{{comment.author.firstName}} {{comment.author.lastName}}</strong>
                            <span>on {{comment.publishedAt | date: 'medium'}}</span>
                            <p class="comment-content">{{comment.content}}</p>
                        </div>
                        <div
                            (click)="toggleActionsModal(comment._id)"
                            class="comment-actions" 
                            [ngClass]="{notAuthor: currentUser?._id !== comment.author._id}"
                            >
                            <i class="fa-solid fa-ellipsis-vertical"></i>

                            <ul class="actions-modal" [ngClass]="{active: isActionsModalVisible(comment._id)}">
                                <li (click)="editComment(comment._id)"><i class="fa-solid fa-pencil"></i> Edit</li>
                                <li (click)="deleteComment(comment._id)"><i class="fa-solid fa-trash"></i> Delete</li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        } @else {
            <p class="no-comments">No comments added yet</p>
        }
    }
</section>