.comments-section {
    margin-top: 2rem;
    border-top: 1px solid #ddd;
    padding-top: 1.5rem;


    h3 {
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }

    .comment-form {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        input,
        textarea {
            padding: 0.6rem;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-family: inherit;
        }

        textarea {
            resize: vertical;
            min-height: 100px;
        }

        p.error-msg {
            font-weight: normal;
            font-size: 0.9rem;
        }

        button {
            align-self: flex-start;
            margin-top: 0.8rem;
            padding: 0.5rem 1rem;
            background: #005B5B;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
        }

        button.cancel {
            margin-left: 0.4em;
        }

        button:hover {
            background: #16acac;
            color: #333;
        }

        button:disabled {
            background-color: lightgray;
            cursor: not-allowed;
            color: white;
        }
    }

    .comment-list {
        list-style: none;
        padding-left: 0;

        li.comment {
            position: relative;
            margin-bottom: 1.5rem;
            background: #fff;
            padding: 1rem;
            border-radius: 5px;

            .comment-header {
                font-size: 0.95rem;
                color: #555;

                strong {
                    color: #333;
                }

                p.comment-content {
                    margin-top: 0.5rem;
                    font-size: 18px;
                }
            }

            .comment-actions.notAuthor {
                display: none;
            }

            .comment-actions {
                padding: 0.2em;
                position: absolute;
                right: 4%;
                top: 10%;

                ul.actions-modal {
                    display: none;
                }

                ul.actions-modal.active {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    border-radius: 0.8em;
                    position: absolute;
                    top: 95%;
                    left: -200%;
                    z-index: 0;
                }

                li {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 0.2em;
                    padding-inline: 0.3em;
                    font-size: 0.8em;

                    i {
                        font-size: 0.7em;
                    }
                }

                li:hover {
                    color: #005B5B;
                    font-size: 0.9em;
                }

                li:nth-of-type(2):hover {
                    color: rgb(133, 3, 3);
                }
            }

            .comment-actions:hover {
                cursor: pointer;
                font-size: 1.1em;
            }
        }
    }

    p.no-comments {
        color: #005B5B;
        font-size: 1rem;
    }
}