<section class="comments-section">
    <h3>Comments ({{comments.length ? comments.length : 0}})</h3>

    <form class="comment-form" (ngSubmit)="onSubmit()" [formGroup]="commentForm">
        <textarea 
            placeholder="Write your comment..."
            required
            formControlName="content">
        </textarea>
        @if(commentForm.get('content')?.errors?.['minlength'] && commentForm.get('content')?.touched) {
            <p class="error-msg">The comment must be at least 10 characters!</p>
        }
        @if(isCommentFailed) {
            <p class="error-msg">Posting a comment failed, please try again.</p>
        }
        <button type="submit" [disabled]="isSubmitting">Post Comment</button>
    </form>

    @if (comments.length) {
    <ul class="comment-list">
        @for (comment of comments; track $index) {
        <li class="comment">
            <div class="comment-header">
                <strong>{{comment.author.firstName}} {{comment.author.lastName}}</strong>
                <span>on {{comment.publishedAt | date: 'medium'}}</span>
            </div>
            <p>{{comment.content}}</p>
        </li>
        }
    </ul>
    } @else {
    <p class="no-comments">No comments added yet</p>
    }
</section>